<div class="container">
    <div class="menu-container">
        ようこそ！ちゃらんけ専用サイトへ！<br>
        <%= link_to "トップ", "/tops/index" %><br>
        <%= link_to '練習メニュー記録', :controller => "practices", :action => "index" %><br>
        <%= link_to '大会結果', :controller => "results", :action => "index" %><br>
        <%= link_to '部費管理', :controller => "fee_admin", :action => "index" %><br>
        <%= link_to 'アクアフリー予約', :controller => "reservations", :action => "index" %><br>
        <%= link_to '各種情報', :controller => "informations", :action => "index" %><br>
    </div>
    <div class="memo-tops-container">
        <h2>お知らせ</h2>
        <div class="tops-container">
            <% @tops.each do |t| %>
                <div class="top">
                    <%= t.created_at %><br>
                    <%= t.body %><br>
                    <%= link_to "詳細へ", top_path(t.id) %>
                </div>
            <% end %>
        </div>
        <br>
        <%= link_to "新規投稿ページへ", tops_new_path %>
    </div>
</div>