<div class="container">
    <div class="menu-container">
        ようこそ！ちゃらんけ専用サイトへ！<br>
        <%= link_to "トップ", "/tops/index" %><br>
        <%= link_to '練習メニュー記録', :controller => "practices", :action => "index" %><br>
        <%= link_to '大会結果', :controller => "results", :action => "index" %><br>
        <%= link_to '部費管理', :controller => "fee_admin", :action => "index" %><br>
        <%= link_to 'アクアフリー予約', :controller => "reservations", :action => "index" %><br>
        <%= link_to '各種情報', :controller => "informations", :action => "index" %><br>
    </div>
    
    <div class="memo-practices-container">
        <h3>新規お知らせ</h3>
        <%= form_for @top do |f| %>
        <div class="field">
            <%= f.label :日付 %>
            <%= f.date_field :date %>
        </div>

        <div class="field">
            <%= f.label :body %>
            <%= f.text_field :body, :size => 140 %>
        </div>

        <div class="field">
            <%= f.label :画像 %>
            <%= f.file_field :image %>
        </div>

        <%= f.submit "お知らせを投稿する" %>
        <% end %>
    </div>
</div>