<div class="container">
    <div class="menu-container">
        ようこそ！ちゃらんけ専用サイトへ！<br>
        <%= link_to "トップ", "/tops/index" %><br>
        <%= link_to '練習メニュー記録', :controller => "practices", :action => "index" %><br>
        <%= link_to '大会結果', :controller => "results", :action => "index" %><br>
        <%= link_to '部費管理', :controller => "fee_admin", :action => "index" %><br>
        <%= link_to 'アクアフリー予約', :controller => "reservations", :action => "index" %><br>
        <%= link_to '各種情報', :controller => "informations", :action => "index" %><br>
    </div>
    <div class="memo-practices-container">
        <h2>お知らせ詳細</h2>
        <div class="top2">
            <%= @top.created_at %><br>
            <%= @top.body %><br>
            <%= link_to @top.image_url , "data-lightbox": @top.image_url do %>
                <%= image_tag @top.image_url, size: "250x200" if @top.image? %>
            <% end %>
        </div>
    </div>
</div>